body {
	background-color:#EEEEFF;
}

.jumbotron {
	margin:0;
	font-size:3rem;
	padding: 2% 4% 2% 4%;
	background-color: #DDDDEE;
	text-align:center;
}

#gameContainer {
	position:absolute;
	left:25vw;
}

#gameStartButton {
	position:absolute;
	left:22.5px;
	top:480px;
	height:50px;
	width:125px;
	font-size:1.5rem;
	font-weight:bold;
	z-index:10;
}

#gameStartText {
	position:absolute;
	left:32px;
	top:530px;
	text-align:center;
	color:white;
	font-size:0.8rem;
}

#timeElapsedText, #timeElapsedClock {
	color:white;
	text-align:center;
	font-size:1.2rem;
}

#timeElapsedText {
	position: absolute;
	left:30px;
	top: 415px;
}

#leaderboardButton {
	font-size:0.8rem;
	position:absolute;
	left: 650px;
	top:530px;
	width:130px;
}

.gameButton {
	border-radius:25px;
}

#roundResults {
	position:absolute;
	left:636px;
	top:460px;
	text-align:center;
	color:white;
	font-size:0.75rem;
}

